services:
  mysql:
    image: mysql:8.0
    ports:
      - 23306:3306
    environment:
      - MYSQL_USER=alumno
      - MYSQL_PASSWORD=alumno
      - MYSQL_ROOT_PASSWORD=root12345
      - MYSQL_DATABASE=laravel
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8101:80
    environment:
      - PMA_HOST=mysql
    depends_on:
      - mysql

volumes:
  db_data:
